.vscode
.__pycache__
.DS_Store
.market/__pycache__/forms.cpython-310.pyc
market/__pycache__/__init__.cpython-310.pyc
market/__pycache__/models.cpython-310.pyc
market/__pycache__/routes.cpython-310.pyc
